h1 {
    color: blue;
    font-size: xx-large;
    text-align: center;
    text-decoration: wavy;
    padding-top: 50px;
}

.search {
    padding-top: 50px;
    color: blue;
    text-align: center;
}

nav a {
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    color: blue;
}

nav a:hover {
    text-decoration: underline;
}