<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>
  <link rel="stylesheet" href="../css/6_product_list.css">
</head>
<body>

  <div class="shop-background">
    <div class="shop-container">
      
      <div class="shop-item">
        <img src="../images/product1.jpg" alt="상품1">
        <div class="overlay">이 상품은 ...</div>
      </div>
      
      <div class="shop-item">
        <img src="../images/product2.jpg" alt="상품2">
        <div class="overlay-btn">
          <button type="button">상세보기</button>
          <button type="button">구매하기</button>
        </div>
      </div>
      
      <div class="shop-item overflow-hidden">
        <img src="../images/product3.jpg" alt="상품3">
        <div class="overlay-up">Price: $4</div>
      </div>
      

    </div>
  </div>
</body>
</html>