/* [css 적용 방식]import 방식(권장 X) : css 내에서 다른 css 파일을 가져와 연결, 직렬 방식, main.css 의 해석이 모두 끝난 후 가져오므로 해석 속도가 느림 */
/* @import url(box.css); */

div {
  color: blue;
  font-size: 50px;
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}