body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  text-align: right;
  margin-right: 30px;
  margin-top: 10px;
}

.header_mail:hover,
.header_image:hover {
  text-decoration: underline;
}

.header_mail {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: grey;
  font-size: 13px;
}

.header_image {
  margin-right: 10px;
  text-decoration: none;
  color: grey;
  font-size: 13px;
}

.header_login {
  display: inline-block;
  border: 1px solid white;
  border-radius: 25px;
  background-color: #0b57d0;
  line-height: 40px;
  width: 80px;
  text-align: center;
}

.header_login {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.header_login:hover {
  border: 1px solid lightgray;
  box-shadow: 0px 1px 0px lightgrey;
}

.logo {
  margin-top: 205px;
  margin-bottom: 30px;
  text-align: center;
}

form {
  text-align: center;
}

/* .searchBar .searchIcon {
  position: absolute;
  top: 41.5%;
  left: 32.5%;
  width: 25px;
  height: 25px;
} */

.searchBar input {
  width: 700px;
  height: 40px;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: 2px 2px 10px lightgrey;
  text-indent: 50px;
  color: black;
  font-size: 15px;
}

.searchBar input::placeholder::before {
  display: inline-block;
  content: "";
  background-image: url("images/search.webp");
  background-size: 30px 30px;
}

.searchBar input:focus {
  outline: none;
}

.searchBar input::placeholder {
  color: grey;
  font-size: 15px;
}

nav {
  margin-top: 40px;
  text-align: center;
}

.lucky a {
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  width: 140px;
  line-height: 35px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #f8f9fa;
  color: #3c4043;
  text-decoration: none;
}

.lucky a:hover {
  border: 1px solid lightgray;
  box-shadow: 0px 1px 0px lightgrey;
}

.ftKr {
  padding: 0;
  margin-top: 340px;
  background-color: #f7f8f9;
  line-height: 50px;
  border: 1px solid lightgray;
  border-width: 0 0 1px;
}

.ftlink {
  margin-top: 0;
  border: 1px solid lightgray;
  border-width: 0 0 0;
  background-color: #f7f8f9;
  line-height: 50px;
  text-align: left;
  font-size: 14px;
}

.ftKr span {
  margin-left: 30px;
}

.ftlink a {
  color: black;
  text-decoration: none;
}

.ftlink a:hover {
  text-decoration: underline;
}

.ftlink .btad {
  margin-left: 32px;
}

.ftlink .btbs {
  margin-left: 32px;
}

.ftlink .btsl {
  margin-left: 32px;
}

.ftlink .btpi {
  margin-left: 1360px;
}

.ftlink .btrts {
  margin-left: 32px;
}

.ftlink .btopt {
  margin-left: 32px;
}